$with-color: #fff;

.button {
    height: 58px;
    border-radius: 8px;
    font-weight: 500;
    background: #e88617;
    color: $with-color;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
        margin-right: 8px;
    }

    &.outlined {
        background: #fcde67;
        border: 1px solid #000;
        color: #000;
    }

    &:hover {
        filter: brightness(0.9);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}